.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
}

.about,
.cat {
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.cat {
  height: 100%;
}

.about {
  background-image: url(/images/about.webp);
}

.cat {
  background-image: url(/images/cat.webp);
  position: absolute;
  opacity: 0;
  transition: 2s ease;
}

.container:hover .cat {
  opacity: 1;
}

.gridFooter {
  width: 100%;
  background-color: var(--color-brand-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
