.atropos {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 81%;
}

.gridFooter {
  width: 100%;
  height: 3rem;
  background-color: rgb(229, 207, 79);
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
