.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: round;
  background-image: url(/images/library.webp);
}

.gridFooter {
  background-color: var(--color-brand-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.box:hover .gridFooter {
  display: none;
}
