@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 30deg;
}

.container {
  --a: 30deg;

  background-image: linear-gradient(
    var(--a),
    #617cff,
    #8a73ff,
    #a769f4,
    #bf5ee6,
    #d253d7,
    #e247c6,
    #ee3cb4,
    #f733a2,
    #fd2d8f,
    #ff2c7c,
    #ff306a,
    #ff3858,
    #fb4246,
    #f44d34,
    #ec5721,
    #e26204,
    #d66b00,
    #c97400,
    #bb7c00
  );
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  /* stylelint-disable-next-line */
  transition: --a 3s var(--easing-normal);
  grid-template-rows: 8fr 1fr;
}

.container h1 {
  color: var(--color-white);
}

.container:hover {
  --a: 240deg;
}

.container:hover .gridFooter {
  display: none;
}

.container > div:last-child {
  display: none;
}

.phone {
  position: absolute;
  border-radius: 50%;
  display: flex;
  place-self: center;
  margin-bottom: 5%;
  width: 55%;
  height: 55%;
}

.phone,
.phone:hover {
  transition: transform 0.5s var(--easing-normal),
    outline 1s var(--easing-normal), box-shadow 1.5s var(--easing-normal);
}

.phone:hover {
  transform: scale(1.1) rotate(2deg);
  outline: 2px solid var(--color-white);
  box-shadow: 0 0 4rem var(--color-white);
}

@media (width <= 450px) {
  .container > div:nth-of-type(2) {
    display: none;
  }

  .container > div:last-of-type {
    display: flex;
  }
}

@media (prefers-reduced-motion) {
  .container:hover {
    --a: 30deg;
  }

  .phone:hover {
    transform: none;
    outline: none;
    box-shadow: none;
  }
}
