@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 30deg;
}

.container {
  --a: 30deg;
  background-image: linear-gradient(
    var(--a),
    #617cff,
    #8a73ff,
    #a769f4,
    #bf5ee6,
    #d253d7,
    #e247c6,
    #ee3cb4,
    #f733a2,
    #fd2d8f,
    #ff2c7c,
    #ff306a,
    #ff3858,
    #fb4246,
    #f44d34,
    #ec5721,
    #e26204,
    #d66b00,
    #c97400,
    #bb7c00
  );
  width: 100%;
  height: 100%;
  display: grid;
  transition: --a 3s ease-in-out;
  grid-template-rows: 8fr 1fr;
}

.container h1 {
  color: white;
}

.container:hover {
  --a: 240deg;
}

.container:hover .gridFooter {
  display: none;
}

.gridFooter {
  background-color: rgb(229, 207, 79);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
