.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
  width: 100%;
  height: 100%;
  container-type: inline-size;
}

.figure {
  grid-column: 1 / 5;
  grid-row: 1 / 9;
  width: 100%;
  height: 100%;
  background-color: var(--color-almost-white);
  border-inline: 17.5cqi solid var(--color-wheat);
  border-block: 15cqi solid var(--color-wheat);
}

.title {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  padding-top: 1rem;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
  font-size: min(90cqi, 18rem);
  color: hsl(from var(--color-wine) h s l / 75%);
  text-shadow: 1rem 0 0 hsl(from var(--color-brand-teal) h s l / 75%);
  transition: text-shadow 0.5s ease, padding-top 0.5s ease;
}

.container > div {
  height: 100%;
  grid-row: 9 / 10;
  grid-column: 1 / 5;
}

.title:hover,
.title:focus-visible {
  padding-top: 0.25rem;
  text-shadow: 1.25rem 0.5rem 0 hsl(from var(--color-brand-teal) h s l / 75%);
}
