.koripallopaikatContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 8fr 1fr;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  scale: 0.8;
}

.goat {
  font-family: var(--font-brand);
  font-size: calc(var(--fontSize-header1) * 2);
  letter-spacing: 1rem;
  transform: translateX(-200%);
  opacity: 0;
}

.koripallopaikatContainer:hover .goat {
  animation: slide-in 1.5s var(--easing-normal) forwards;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  background-size: cover;
  background-repeat: round;
  background-image: url("/images/basketball_pattern.webp");
  display: grid;
  grid-template-rows: 8fr 1fr;
}

.overlay > div {
  position: relative;
}

.overlay > div:first-child {
  background: hsla(0deg 0% 0% / 7.5%);
}

.koripallopaikatContainer:hover .overlay {
  opacity: 0;
}

@media (max-width: 1100px) {
  .goat {
    font-size: calc(var(--fontSize-header1) * 1.5);
  }
}

@media (max-width: 900px) {
  .goat {
    color: var(--color-brand-yellow-saturated);
    text-shadow: 3px 3px var(--color-brand-dark);
  }
}

@media (max-width: 500px) {
  .image {
    width: 80%;
  }
}

@keyframes slide-in {
  20% {
    opacity: 0;
  }

  60% {
    transform: translateX(5%);
  }

  75% {
    transform: translateX(-2%);
  }

  100% {
    opacity: 1;
    transform: translateX(-0%);
  }
}
