.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #008cba;
  display: grid;
  place-items: center;
}

.container:hover .overlay {
  opacity: 0;
}

.overlay div h1 {
  color: white;
}

.gridFooter {
  width: 100%;
  height: 3rem;
  background-color: rgb(229, 207, 79);
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
