.container {
  display: grid;
  grid-template-rows: 8fr 1fr;
  width: 100%;
  height: 100%;
}

.now {
  background-size: cover;
  background-repeat: round;
  background-image: url("/images/nowGrid.avif");
  transition: background-image 0.4s;
}

.now[data-eye="closed"] {
  background-image: url("/images/nowGridEyeClosed.avif");
  transition: background-image 0.4s;
}
