.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
}

.container:hover {
  animation: grow-and-shrink 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.done,
.proto {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.done {
  background-image: url("/images/old_website_done.webp");
}

.proto {
  background-image: url("/images/old_website_proto.webp");
  position: absolute;
  opacity: 1;
  transition: 2s ease;
  height: 89%;
}

.container:hover .proto {
  opacity: 0;
}

.container:hover .gridFooter {
  display: none;
}

.container:hover .done {
  height: 112.5%;
}

@media (width <= 450px) {
  .proto {
    height: 88%;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1.2) rotate(3deg);
  }
}
