.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
}

.about,
.cat {
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.cat {
  height: 100%;
  z-index: 1;
  background-image: url("/images/cat.avif");
  position: absolute;
  opacity: 0;
  transition: 2s ease;
}

.about {
  background-image: url("/images/about.avif");
}

.container:hover .cat {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .container:hover .cat {
    opacity: 0;
  }
}
