.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
  background: linear-gradient(
    to right,
    var(--color-brand-dark),
    #482d53,
    #8a3366,
    #cb385d,
    var(--color-brand-red)
  );
  overflow: hidden;
}

.letters {
  transform: rotate(-52deg) translateX(-6rem) translateY(-2rem);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  text-align: center;
}

.letters > p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-family: var(--font-brand);
  width: 2rem;
  height: 2rem;
}

/* Safari https://caniuse.com/colr-v1 */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and
  (-webkit-appearance: none) {
  .letters > p {
    font-family: var(--font-header);
    color: var(--color-brand-yellow-saturated);
    text-shadow: var(--font-shadow);
  }
}

.p {
  transform: rotate(90deg) translateX(0) translateY(-5rem);
}

.r {
  transform: rotate(80deg) translateX(1rem) translateY(-13rem);
}

.o {
  transform: rotate(70deg) translateX(9rem) translateY(-15rem);
}

.j {
  transform: rotate(60deg) translateX(4rem);
}

.e {
  transform: rotate(40deg) translateX(10rem) translateY(-4rem);
}

.c {
  transform: rotate(20deg) translateX(17rem);
}

.t {
  transform: rotate(140deg) translateX(3rem) translateY(-1rem);
}

.s {
  transform: rotate(80deg) translateX(7rem) translateY(-10rem);
}

.container:hover .p {
  transform: none;
  transition: all 2s var(--easing-normal) 0.2s;
}

.container:hover .r {
  transform: none;
  transition: all 2s var(--easing-normal) 0.4s;
}

.container:hover .o {
  transform: none;
  transition: all 2s var(--easing-normal) 0.6s;
}

.container:hover .j {
  transform: none;
  transition: all 2s var(--easing-normal) 0.8s;
}

.container:hover .e {
  transform: none;
  transition: all 2s var(--easing-normal) 1s;
}

.container:hover .c {
  transform: none;
  transition: all 2s var(--easing-normal) 1.2s;
}

.container:hover .t {
  transform: none;
  transition: all 2s var(--easing-normal) 1.4s;
}

.container:hover .s {
  transform: none;
  transition: all 2s var(--easing-normal) 1.6s;
}

.container:hover .letters {
  transform: none;
  transition: all 5s var(--easing-normal);
}

@media (width <= 900px) {
  .letters > p {
    color: var(--color-brand-yellow-saturated);
    text-shadow: 3px 3px var(--color-brand-dark);
  }
}

@media (width <= 500px) {
  .letters > p {
    width: 0.5rem;
  }
}

@media (prefers-reduced-motion) {
  .container:hover .p {
    transform: rotate(90deg) translateX(0) translateY(-5rem);
  }

  .container:hover .r {
    transform: rotate(80deg) translateX(1rem) translateY(-13rem);
  }

  .container:hover .o {
    transform: rotate(70deg) translateX(9rem) translateY(-15rem);
  }

  .container:hover .j {
    transform: rotate(60deg) translateX(4rem);
  }

  .container:hover .e {
    transform: rotate(40deg) translateX(10rem) translateY(-4rem);
  }

  .container:hover .c {
    transform: rotate(20deg) translateX(17rem);
  }

  .container:hover .t {
    transform: rotate(140deg) translateX(3rem) translateY(-1rem);
  }

  .container:hover .s {
    transform: rotate(80deg) translateX(7rem) translateY(-10rem);
  }

  .container:hover .letters {
    transform: rotate(-52deg) translateX(-6rem) translateY(-2rem);
  }
}
