.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 1fr;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image_alt {
  position: absolute;
  height: 100%;
  width: 100%;
}

.image,
.image_alt {
  background-size: cover;
  background-repeat: round;
}

.image {
  background-image: url(/images/studies_it.webp);
}

.image_alt {
  background-image: url(/images/studies_literature.webp);
}
