.gridFooter {
  width: 100%;
  background-color: var(--color-brand-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.gridFooter > p:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
