.gridFooterLight,
.gridFooterDark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  padding: 0 1rem;
}

.gridFooterLight p,
.gridFooterDark p {
  font-family: var(--font-header);
}

.gridFooterLight p img,
.gridFooterDark p img {
  filter: invert(0);
}

.gridFooterLight p:first-child img[data-theme="true"],
.gridFooterDark p:first-child img[data-theme="true"],
.gridFooterLight p:last-child img[data-theme="dark"],
.gridFooterDark p:last-child img[data-theme="dark"] {
  filter: invert(1);
}

.gridFooterLight {
  background-color: var(--color-brand-yellow);
}

.gridFooterDark {
  background-color: var(--color-brand-dark);
}

.gridFooterDark > p:first-child {
  color: var(--color-white);
}

.gridFooterLight > p:first-child,
.gridFooterDark > p:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (width >= 1900px) {
  .gridFooterLight,
  .gridFooterDark {
    width: 100%;
  }
}

@media (width <= 730px) {
  .gridFooterLight,
  .gridFooterDark {
    width: 45vw;
  }
}
