.gridFooterLight,
.gridFooterDark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  padding: 0 1rem;
}

.gridFooterLight {
  background-color: var(--color-brand-yellow);
}

.gridFooterDark {
  background-color: var(--color-brand-dark);
}

.gridFooterDark > p:first-child {
  color: var(--color-white);
}

.gridFooterLight > p:first-child,
.gridFooterDark > p:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1900px) {
  .gridFooterLight,
  .gridFooterDark {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .gridFooterLight,
  .gridFooterDark {
    width: 45vw;
  }
}
