.container {
  display: grid;
  grid-template-rows: 8fr 1fr;
  position: relative;
  background-color: var(--color-brand-red);
  width: 100%;
  height: 100%;
}

.parent,
.child {
  transition: all 0.5s var(--easing-normal);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.parent[data-isopen="true"] {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

.child {
  width: 40px;
  height: 40px;
  background: var(--color-brand-red);
  border-radius: 50%;
}

.child[data-isopen="true"] {
  width: 200px;
  height: 200px;
}

.to {
  position: absolute;
  bottom: 12%;
  left: 4%;
  rotate: -45deg;
  font-size: clamp(4rem, 2vw, 8rem);
}

.ls {
  position: absolute;
  top: 0;
  right: 9%;
  rotate: -45deg;
  font-size: clamp(4rem, 2vw, 8rem);
}
