.mainContainer {
  min-height: 70vh;
  background-color: var(--color-skin);
}

.eyes,
.leftEye,
.leftIris,
.rightEye,
.rightIris {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  gap: 20rem;
}

.leftEye,
.rightEye {
  width: 10rem;
  height: 5rem;
  background-color: var(--color-white);
}

.leftEye {
  border-radius: 50% 60%;
}

.rightEye {
  border-radius: 60% 50%;
}

.leftIris,
.rightIris {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-brand-teal);
  transform: translate(var(--x), var(--y));
}

.leftPupil,
.rightPupil {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-black);
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slidesItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  font-size: 100px;
  height: 600px;
  margin: 0 1rem;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.25rem 0.5rem;
}

.sliderNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-grey95);
  border-radius: 0.25rem;
  color: var(--color-black);
  height: 1.5rem;
  width: 2.5rem;
  padding: 1rem;
  text-decoration: none;
}

.sliderNav:hover,
.sliderNav:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.sliderNav[data-slide="active"] {
  background-color: var(--color-black);
  color: var(--color-white);
}

.slidesItem[data-slide="slide1"] {
  background-color: #fdc;
}

.slidesItem[data-slide="slide2"] {
  background-color: #bfd;
}

.slidesItem[data-slide="slide3"] {
  background-color: #cdf;
}

.slidesItem[data-slide="slide4"] {
  background-color: #dca;
}

.slidesItem[data-slide="slide5"] {
  background-color: #ffc;
}

@media (width <= 700px) {
  .eyes {
    gap: 15rem;
  }
}

@media (width <= 600px) {
  .eyes {
    gap: 10rem;
  }
}

@media (width <= 500px) {
  .mainContainer {
    min-height: 80vh;
  }

  .eyes {
    gap: 5rem;
  }
}
