.mainContainer {
  min-height: 70vh;
}

.mainContainer[data-theme="dark"] {
  background-color: initial;
}

.eyes,
.leftEye,
.leftIris,
.rightEye,
.rightIris {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  gap: 20rem;
}

.leftEye,
.rightEye {
  width: 10rem;
  height: 5rem;
  background-color: var(--color-white);
}

.leftEye {
  border-radius: 50% 60%;
}

.rightEye {
  border-radius: 60% 50%;
}

.leftIris,
.rightIris {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-brand-teal);
  transform: translate(var(--x), var(--y));
}

.leftPupil,
.rightPupil {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-black);
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  width: 100%;
  display: flex;
  margin: 1rem auto;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

div > section:focus-visible .slides {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.5rem;
}

div[data-theme="dark"] > section:focus-visible .slides {
  outline-color: var(--color-white);
}

.slides::-webkit-scrollbar {
  display: none;
}

.slidesItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  border: 1rem solid var(--color-brand-teal);
  outline: 0.5rem solid var(--color-brand-teal);
  width: 100%;
  flex-shrink: 0;
  font-size: calc(var(--fontSize-header1) * 3);
  font-family: var(--font-header);
  height: 40rem;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
}

.slidesItem div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slidesItem div:nth-child(1) {
  border-right: 0.5rem solid var(--color-brand-teal);
  border-bottom: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(2) {
  border-left: 0.5rem solid var(--color-brand-teal);
  border-bottom: 0.5rem solid var(--color-brand-teal);
  border-right: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(3) {
  border-left: 0.5rem solid var(--color-brand-teal);
  border-bottom: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(4) {
  border-right: 0.5rem solid var(--color-brand-teal);
  border-top: 0.5rem solid var(--color-brand-teal);
  border-bottom: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(5) {
  display: grid;
  place-items: center;
  border: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(6) {
  border-left: 0.5rem solid var(--color-brand-teal);
  border-top: 0.5rem solid var(--color-brand-teal);
  border-bottom: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(7) {
  border-right: 0.5rem solid var(--color-brand-teal);
  border-top: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(8) {
  border-left: 0.5rem solid var(--color-brand-teal);
  border-top: 0.5rem solid var(--color-brand-teal);
  border-right: 0.5rem solid var(--color-brand-teal);
}

.slidesItem div:nth-child(9) {
  border-top: 0.5rem solid var(--color-brand-teal);
  border-left: 0.5rem solid var(--color-brand-teal);
}

.carousel__nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.25rem 0.5rem;
}

.sliderNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-grey95);
  border-radius: 0.25rem;
  color: var(--color-black);
  height: 1.5rem;
  width: 2.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.sliderNav:hover,
.sliderNav:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.sliderNav[data-slide="active"] {
  background-color: var(--color-black);
  color: var(--color-white);
}

.slidesItem[data-slide="slide1"] {
  background-color: var(--color-brand-yellow);
}

.slidesItem[data-slide="slide2"] {
  background-color: var(--color-brand-green);
}

.slidesItem[data-slide="slide3"] {
  background-color: color-mix(
    in oklch,
    var(--color-brand-teal) 100%,
    var(--color-white) 100%
  );
}

.slidesItem[data-slide="slide4"] {
  background-color: var(--color-skin);
}

.slidesItem[data-slide="slide5"] {
  background-color: color-mix(
    in oklch,
    var(--color-brand-violet30) 100%,
    var(--color-white) 50%
  );
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 1300px) {
  .slidesItem {
    height: 46rem;
  }
}

@media (width >= 1500px) {
  .slidesItem {
    height: 50rem;
  }
}

@media (width >= 1800px) {
  .slidesItem {
    height: 60rem;
  }
}

@media (width <= 700px) {
  .eyes {
    gap: 15rem;
  }

  .slidesItem div:nth-child(5) {
    font-size: calc(var(--fontSize-header1) * 1.5);
  }
}

@media (width <= 600px) {
  .eyes {
    gap: 10rem;
  }
}

@media (width <= 500px) {
  .mainContainer {
    min-height: 80vh;
  }

  .eyes {
    gap: 5rem;
  }
}

@media (prefers-reduced-motion) {
  .leftIris,
  .rightIris {
    transform: none;
  }
}
