/* stylelint-disable no-descending-specificity */
.mainContainer,
.booksContainer {
  min-height: 76vh;
}

.mainContainer {
  padding: 0 4rem 2rem;
}

.mainContainer > h2 {
  text-align: center;
  margin-block-start: 1.5rem;
}

.mainContainer > h2:first-of-type {
  margin-bottom: 1rem;
}

.mainContainer > h2:last-of-type {
  margin-top: 2rem;
}

.mainContainer[data-theme="dark"] > h2 {
  color: var(--color-white);
}

.mainContainer > div > div {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer div:has(.languageChart) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.time[data-theme="dark"] {
  color: var(--color-white);
}

.booksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13.25rem), 1fr));
  padding-inline: 1.5rem;
}

.booksContainer > * {
  display: grid;
  transition: all 0.25s ease;
  margin-block-end: 2rem;
}

.booksContainer > figure:hover,
.booksContainer > figure:focus-within {
  scale: 1.25;
}

.booksContainer > div,
.booksContainer > figure > img {
  justify-self: center;
}

.booksContainer > figure > p {
  display: none;
  justify-self: center;
}

.booksContainer > figure:has(+ div:hover),
.booksContainer > figure:has(+ div:focus-within),
.booksContainer > figure:hover + div,
.booksContainer > figure:focus-within + div {
  scale: 1.01;
  transition: all 0.9s ease;
}

.booksContainer > figure:hover > p,
.booksContainer > figure:focus-within > p {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: calc(100% - (100% - 200px));
  height: 30%;
  font-size: var(--fontSize-helperText);
  background-color: var(--color-black-75);
  color: var(--color-white);
  padding: 0.5rem;
}

.languageChart {
  width: 20vw;
  height: 20vw;
  justify-content: center;
}

.mainContainer[data-theme="dark"] .languageChart > h2 {
  color: var(--color-white);
}

.languageChart > h2 > span {
  color: var(--color-brand-green);
}

.yearCard {
  display: grid;
  place-items: center;
  width: 200px;
  height: 300px;
}

.yearCard > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fontSize-header2);
  font-family: var(--font-subheader);
}

.yearCard > h2 > span {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
}

.yearCard > h2 > span:last-child {
  font-family: var(--font-body);
  color: var(--color-brand-grey30);
}

.year2024 {
  background-color: var(--color-brand-green);
}

.year2023 {
  background-color: var(--color-brand-yellow);
}

.year2022 {
  background-color: var(--color-brand-red);
}

.year2021 {
  background-color: var(--color-brand-yellow-saturated);
}

.year2020 {
  background-color: var(--color-brand-green50);
}

.year2019 {
  background-color: var(--color-skin);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.buttonContainer ~ p {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  font-family: var(--font-subheader);
  color: var(--color-brand-dark80);
}

.mainContainer[data-page="statistics"] .buttonContainer {
  padding: 1rem 0 2rem;
}

.button {
  border: none;
  cursor: pointer;
  color: var(--color-brand-dark);
  font-size: var(--fontSize-header4);
  font-family: var(--font-header);
  padding: 0.5rem 1rem;
  width: 100px;
  box-shadow: 0 0 1px 2px var(--color-black-75),
    inset 0 2px 0 var(--color-brand-grey),
    inset 0 -1px 0 1px var(--color-black-38), 0 8px 10px var(--color-black-14);
}

main .button:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.25rem;
}

main[data-theme="dark"] .button:focus-visible {
  outline-color: var(--color-white);
}

.button[data-active="true"] {
  background-color: var(--color-brand-yellow);
}

.button:first-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(-6deg) scaleY(0.76);
}

.button:last-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(6deg) scaleY(0.76);
}

.button:first-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(2deg);
  box-shadow: -4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.button:last-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(358deg);
  box-shadow: 4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.mainContainer > canvas:last-of-type {
  display: none !important;
}

@media (width <= 1400px) {
  .mainContainer > div {
    padding: 2rem 0.5rem;
  }
}

@media (width <= 1250px) {
  .mainContainer div:has(.languageChart) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
  }

  .languageChart {
    width: 28vw;
    height: 30vw;
  }
}

@media (width <= 900px) {
  .booksContainer {
    padding-inline: 0;
  }

  .booksContainer > figure:hover,
  .booksContainer > figure:has(+ div:hover),
  .booksContainer > figure:hover + div {
    scale: 1;
  }

  .mainContainer canvas:first-of-type {
    display: none !important;
  }

  .mainContainer canvas:last-of-type {
    display: inline !important;
  }
}

@media (width <= 750px) {
  .mainContainer div:has(.languageChart) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .languageChart {
    width: 60vw;
    height: 62vw;
  }
}

@media (width <=600px) {
  .mainContainer > div {
    padding: 2rem 0.25rem;
  }
}
