.mainContainer {
  min-height: 76vh;
}

.mainContainer[data-page="statistics"] {
  padding: 0 4rem 2rem;
}

.mainContainer > div {
  padding: 2rem;
}

.mainContainer > h2 {
  text-align: center;
}

.mainContainer > h2:first-of-type {
  margin-bottom: 1rem;
}

.mainContainer > h2:last-of-type {
  margin-top: 2rem;
}

.mainContainer[data-theme="dark"] > h2 {
  color: var(--color-white);
}

.mainContainer > div > div {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer > div > div > div {
  display: flex;
  justify-content: center;
  width: 20%;
  box-sizing: border-box;
  padding: 0.5rem;
  transition: all 0.25s ease;
}

.mainContainer div:has(.languageChart) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.languageChart {
  max-width: 20vw;
  max-height: 20vw;
  justify-content: center;
}

.mainContainer[data-theme="dark"] .languageChart > h2 {
  color: var(--color-white);
}

.yearCard {
  display: grid;
  place-items: center;
  width: 200px;
  height: 300px;
}

/* stylelint-disable-next-line no-descending-specificity */
.yearCard > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fontSize-header2);
  font-family: var(--font-subheader);
}

.yearCard > h2 > span {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
}

.yearCard > h2 > span:last-child {
  font-family: var(--font-body);
  color: var(--color-brand-grey30);
}

.mainContainer > div > div > div > figure > p {
  display: none;
}

.mainContainer > div > div > div:hover {
  scale: 1.15;
}

.mainContainer > div > div > div:hover > figure > p {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  max-width: 92.5%;
  width: calc(100% - (100% - 200px));
  height: 30%;
  font-size: var(--fontSize-helperText);
  background-color: var(--color-black-75);
  color: var(--color-white);
  padding: 0.5rem;
}

.year2024 {
  background-color: var(--color-brand-green);
}

.year2023 {
  background-color: var(--color-brand-yellow);
}

.year2022 {
  background-color: var(--color-brand-red);
}

.year2021 {
  background-color: var(--color-brand-yellow-saturated);
}

.year2020 {
  background-color: var(--color-brand-green50);
}

.year2019 {
  background-color: var(--color-skin);
}

.mainContainer > div > div > div:has(+ div:hover),
.mainContainer > div > div > div:hover + div {
  scale: 1.01;
  transition: all 0.9s ease;
}

.mainContainer > div > div > div:has(.yearCard):hover {
  scale: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.mainContainer[data-page="statistics"] .buttonContainer {
  padding: 1rem 0 2rem;
}

.button {
  border: none;
  cursor: pointer;
  color: var(--color-brand-dark);
  font-size: var(--fontSize-header4);
  font-family: var(--font-header);
  padding: 0.5rem 1rem;
  width: 100px;
  box-shadow: 0 0 1px 2px var(--color-black-75),
    inset 0 2px 0 var(--color-brand-grey),
    inset 0 -1px 0 1px var(--color-black-38), 0 8px 10px var(--color-black-14);
}

main .button:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.25rem;
}

main[data-theme="dark"] .button:focus-visible {
  outline-color: var(--color-white);
}

.button[data-active="true"] {
  background-color: var(--color-brand-yellow);
}

.button:first-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(-6deg) scaleY(0.76);
}

.button:last-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(6deg) scaleY(0.76);
}

.button:first-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(2deg);
  box-shadow: -4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.button:last-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(358deg);
  box-shadow: 4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.mainContainer > canvas:last-of-type {
  display: none !important;
}

@media (width >= 1300px) {
  .mainContainer > div > div > div {
    width: 14.285%;
  }
}

@media (width <= 1400px) {
  .mainContainer > div {
    padding: 2rem 0.5rem;
  }
}

@media (width <= 1250px) {
  .mainContainer div:has(.languageChart) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
  }

  .languageChart {
    max-width: 30vw;
    max-height: 30vw;
  }
}

@media (width <= 1000px) {
  .mainContainer > div > div > div {
    width: 25%;
  }
}

@media (width <= 900px) {
  .mainContainer > div > div > div:hover,
  .mainContainer > div > div > div:has(+ div:hover),
  .mainContainer > div > div > div:hover + div {
    scale: 1;
  }

  .mainContainer canvas:first-of-type {
    display: none !important;
  }

  .mainContainer canvas:last-of-type {
    display: inline !important;
  }
}

@media (width <= 750px) {
  .mainContainer > div > div > div {
    width: 33%;
  }

  .mainContainer div:has(.languageChart) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .languageChart {
    max-width: 60vw;
    max-height: 60vw;
  }
}

@media (width <=600px) {
  .mainContainer {
    min-height: 65vh;
  }

  .mainContainer > div {
    padding: 2rem 0.25rem;
  }
}

@media (width <= 550px) {
  .mainContainer > div > div > div {
    width: 50%;
  }
}

@media (width <=600px) {
  .mainContainer {
    min-height: 75vh;
  }
}
