.mainContainer {
  min-height: 70vh;
}

.mainContainer > div {
  padding: 1rem 0;
}

.mainContainer > div > div {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer > div > div > div {
  display: flex;
  justify-content: center;
  width: 20%;
  box-sizing: border-box;
  padding: 0.5rem;
  transition: all 0.25s ease;
}

.yearCard {
  display: grid;
  place-items: center;
  width: 200px;
  height: 300px;
}

.yearCard > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fontSize-header2);
  font-family: var(--font-subheader);
}

.yearCard > p > span:last-child {
  font-family: var(--font-body);
  color: var(--color-brand-grey30);
}

.mainContainer > div > div > div > p {
  display: none;
}

.mainContainer > div > div > div:hover {
  scale: 1.15;
}

.mainContainer > div > div > div:hover > p {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  width: calc(100% - (100% - 200px));
  height: 30%;
  font-size: var(--fontSize-helperText);
  background-color: var(--color-black-75);
  color: var(--color-white);
  padding: 0.5rem;
}

.year2023 {
  background-color: var(--color-brand-yellow);
}

.year2022 {
  background-color: var(--color-brand-red);
}

.year2021 {
  background-color: var(--color-brand-yellow-saturated);
}

.year2020 {
  background-color: var(--color-brand-green50);
}

.year2019 {
  background-color: var(--color-skin);
}

.mainContainer > div > div > div:has(+ div:hover),
.mainContainer > div > div > div:hover + div {
  scale: 1.01;
  transition: all 0.9s ease;
}

.mainContainer > div > div > div:has(.yearCard):hover {
  scale: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding: 1rem 0;
}

.button {
  border: none;
  cursor: pointer;
  font-size: var(--fontSize-header4);
  font-family: var(--font-header);
  padding: 0.5rem 1rem;
  width: 100px;
  box-shadow: 0 0 1px 2px hsla(0deg 0% 0% / 70%),
    inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.button[data-active="true"] {
  background-color: var(--color-brand-yellow);
}

.button:first-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(-6deg) scaleY(0.76);
}

.button:last-child[data-active="true"] {
  transform: perspective(1.75rem) rotateY(6deg) scaleY(0.76);
}

.button:first-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(2deg);
  box-shadow: -4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

.button:last-child[data-active="false"] {
  transform: perspective(1.75rem) rotateY(358deg);
  box-shadow: 4px 0 0 2px hsla(0deg 0% 0% / 30%),
    0 0 1px 2px hsla(0deg 0% 0% / 70%), inset 0 2px 0 hsla(0deg 0% 100% / 60%),
    inset 0 -1px 0 1px hsla(0deg 0% 0% / 30%), 0 8px 10px hsla(0deg 0% 0% / 15%);
}

@media (min-width: 1300px) {
  .mainContainer > div > div > div {
    width: 14.285%;
  }
}

@media (max-width: 1000px) {
  .mainContainer > div > div > div {
    width: 25%;
  }
}

@media (max-width: 900px) {
  .mainContainer > div > div > div:hover,
  .mainContainer > div > div > div:has(+ div:hover),
  .mainContainer > div > div > div:hover + div {
    scale: 1;
  }
}

@media (max-width: 750px) {
  .mainContainer > div > div > div {
    width: 33%;
  }
}

@media (max-width: 550px) {
  .mainContainer > div > div > div {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
  }
}
