.mainContainer {
  min-height: 70vh;
}

.mainContainer > div {
  padding: 1rem 0;
}

.mainContainer > div > div {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer > div > div > div {
  display: flex;
  justify-content: center;
  width: 20%;
  box-sizing: border-box;
  padding: 0.5rem;
  transition: all 0.25s ease;
}

.mainContainer > div > div > div > p {
  display: none;
}

.mainContainer > div > div > div:hover {
  scale: 1.15;
}

.mainContainer > div > div > div:hover > p {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  width: calc(100% - (100% - 200px));
  height: 30%;
  background-color: var(--color-black-75);
  color: var(--color-white);
  padding: 0.5rem;
}

.mainContainer > div > div > div[data-index="10"] > div {
  display: grid;
  place-items: center;
  background-color: var(--color-brand-red);
  width: 200px;
  height: 300px;
}

.mainContainer > div > div > div[data-index="10"] > div > p {
  display: flex;
  gap: 0.5rem;
  font-size: var(--fontSize-header2);
  font-family: var(--font-subheader);
}

.mainContainer > div > div > div[data-index="10"]:hover {
  scale: none;
}

.mainContainer > div > div > div:has(+ div:hover),
.mainContainer > div > div > div:hover + div {
  scale: 1.01;
  transition: all 0.9s ease;
}

@media (min-width: 1300px) {
  .mainContainer > div > div > div {
    width: 14.285%;
  }
}

@media (max-width: 1000px) {
  .mainContainer > div > div > div {
    width: 25%;
  }
}

@media (max-width: 750px) {
  .mainContainer > div > div > div {
    width: 33%;
  }
}

@media (max-width: 550px) {
  .mainContainer > div > div > div {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
  }
}
