.mainContainer {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mainContainer > div {
  display: grid;
  place-items: center;
}

.mainContainer > div:nth-child(1) {
  background-color: var(--color-brand-yellow);
}

.mainContainer > div:nth-child(2) {
  background-color: var(--color-brand-green50);
}

.mainContainer > div:nth-child(3) {
  background-color: var(--color-brand-red30);
}

.mainContainer img {
  transition: all 0.5s ease;
}

.mainContainer img:hover {
  transform: scale(1.1);
}

@media (width <= 1000px) {
  .mainContainer {
    grid-template-columns: 1fr;
    min-height: 10vh;
  }

  .mainContainer > div {
    height: calc((100vh - 10vh - 10vh - 60px) / 3);
  }

  .mainContainer img {
    height: 24vh;
  }
}

@media (width <= 750px) {
  .mainContainer img {
    width: 25vw;
  }
}
