.mainContainer {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mainContainer > div {
  display: grid;
  place-items: center;
}

.mainContainer > div:nth-child(1) {
  background-color: var(--color-brand-yellow);
}

.mainContainer > div:nth-child(2) {
  background-color: var(--color-brand-green50);
}

.mainContainer > div:nth-child(3) {
  background-color: var(--color-brand-red30);
}

@media (max-width: 1000px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
  }
}
