.mainContainer {
  --week-month-size: 6rem;
  --year-all-size: 7rem;
  --font-size-data: 1rem;
  --font-size-hover: 0.875rem;
  --nav-min-width: 11rem;
  --totalContainer-font-size: initial;

  position: relative;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  justify-items: center;
  gap: 5rem;
  padding-block: 1rem 2.5rem;
}

.mainContainer > div {
  position: absolute;
  top: calc(50% - 10rem);
  z-index: 1;
}

.mainContainer section > div {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainContainer section > h2,
.mainContainer section > span {
  margin-block-end: 1rem;
}

.weekContainer > p,
.monthContainer > p,
.yearContainer > p,
.allTimeContainer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--week-month-size);
  height: var(--week-month-size);
  font-size: var(--font-size-data);
  padding: 0.25rem;
  background-color: oklch(
    from var(--color-brand-teal) calc(l - var(--distance) + 0.6) c h
  );
}

.weekContainer > p[data-color="true"],
.monthContainer > p[data-color="true"],
.yearContainer > p[data-color="true"],
.allTimeContainer > p[data-color="true"] {
  color: var(--color-white);
}

.weekContainer > p > span,
.monthContainer > p > span,
.yearContainer > p > span,
.allTimeContainer > p > span {
  position: absolute;
  top: 0;
  left: 0;
  padding-inline: 0.1rem;
  color: currentcolor;
  font-family: var(--font-header);
}

.weekContainer > p[data-today="true"] > span,
.monthContainer > p[data-today="true"] > span,
.yearContainer > p[data-thismonth="true"] > span,
.allTimeContainer > p[data-thisyear="true"] > span {
  background-color: var(--color-brand-yellow-saturated);
}

.weekContainer > p[data-color="true"][data-today="true"] span,
.monthContainer > p[data-color="true"][data-today="true"] span,
.yearContainer > p[data-color="true"][data-thismonth="true"] span,
.allTimeContainer > p[data-color="true"][data-thisyear="true"] span {
  color: var(--color-black);
}

.yearContainer > p,
.allTimeContainer > p {
  width: var(--year-all-size);
  height: var(--year-all-size);
}

.allTimeContainer > p:hover::before,
.weekContainer > p:not([data-empty="true"]):hover::before,
.monthContainer > p:not([data-blank="true"], [data-empty="true"]):hover::before,
.yearContainer > p:not([data-empty="true"]):hover::before {
  content: attr(data-content);
  position: absolute;
  top: var(--year-all-size);
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.25rem;
  white-space: pre-line;
  font-size: var(--font-size-hover);
}

.weekContainer > p:not([data-blank="true"]):hover::before,
.monthContainer > p:not([data-blank="true"]):hover::before {
  top: var(--week-month-size);
}

.weekContainer > p[data-empty="true"],
.monthContainer > p[data-empty="true"],
.yearContainer > p[data-empty="true"] {
  background-color: var(--color-brand-grey);
}

.weekContainer > p[data-empty="false"],
.monthContainer > p[data-empty="false"],
.yearContainer > p[data-empty="false"] {
  cursor: help;
}

.monthContainer > p[data-blank="true"] {
  background-color: transparent;
}

.mainContainer[data-theme="dark"] .weekContainer > p > span,
.mainContainer[data-theme="dark"] .monthContainer > p > span,
.mainContainer[data-theme="dark"] .yearContainer > p > span,
.mainContainer[data-theme="dark"] .allTimeContainer > p > span {
  color: var(--color-black);
}

.mainContainer[data-theme="dark"] .weekContainer > p[data-invertcolor="true"],
.mainContainer[data-theme="dark"] .monthContainer > p[data-invertcolor="true"],
.mainContainer[data-theme="dark"] .yearContainer > p[data-invertcolor="true"],
.mainContainer[data-theme="dark"]
  .allTimeContainer
  > p[data-invertcolor="true"] {
  color: var(--color-black);
}

.totalContainer {
  display: inline-block;
  padding: 0.25rem;
  font-size: var(--font-size-data);
}

.totalContainer > p {
  font-size: var(--totalContainer-font-size);
}

.weekContainer {
  display: inline-flex;
  gap: 0.0875rem;
}

.daysContainer,
.monthContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.0875rem;
}

.daysContainer > p {
  font-family: var(--font-header);
  font-size: var(--font-size-data);
}

.yearContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.0875rem;
}

.allTimeContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.0875rem;
}

.mainContainer[data-theme="dark"] h2,
.mainContainer[data-theme="dark"] p {
  color: var(--color-white);
}

.loading::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 96%;
  margin-block-start: 0.5rem;
  background: var(--color-white40);
  box-shadow: 0 0 1rem 1rem var(--color-white40);
  backdrop-filter: blur(0.125rem);
}

.loading > * {
  pointer-events: none;
  opacity: 0.5;
}

.navigation {
  display: flex;
  gap: 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
.navigation > h2 {
  min-width: var(--nav-min-width);
  text-align: center;
}

.navigation > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation > button:disabled {
  cursor: not-allowed;
}

.navigation > button:disabled > img {
  filter: opacity(0.5);
}

.navigation > button:active {
  transform: scale(0.9);
}

.navigation > button:not(:disabled):hover {
  filter: drop-shadow(0 0 0.25rem var(--color-black-38));
}

.navigation[data-theme="dark"] > button > img {
  filter: invert(1);
}

.navigation[data-theme="dark"] > button:disabled > img {
  filter: invert(1) opacity(0.5);
}

@media (width > 1600px) {
  .mainContainer {
    min-width: 85vw;
  }
}

@media (width < 1475px) {
  .mainContainer {
    --week-month-size: 5rem;
    --year-all-size: 6rem;
    --font-size-data: 0.875rem;
    --font-size-hover: 0.75rem;
  }
}

@media (width < 1275px) {
  .mainContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .loading::after {
    height: 98%;
  }

  .mainContainer > div {
    top: calc(25% - 10rem);
  }
}

@media (width < 700px) {
  .loading::after {
    width: 100%;
  }
}

@media (width < 600px) {
  .mainContainer {
    --week-month-size: 4.25rem;
    --year-all-size: 5rem;
    --font-size-data: 0.75rem;
    --font-size-hover: 0.625rem;
    --nav-min-width: 9rem;
    --totalContainer-font-size: 0.875rem;
  }

  .mainContainer section h2 {
    font-size: var(--fontSize-header4);
  }
}

@media (width < 500px) {
  .mainContainer {
    --week-month-size: 3.5rem;
    --year-all-size: 4rem;
    --font-size-data: 0.625rem;
    --font-size-hover: 0.5rem;
    --totalContainer-font-size: 0.75rem;
  }
}

@media (width < 425px) {
  .mainContainer {
    --week-month-size: 3.25rem;
    --year-all-size: 3.75rem;
    --font-size-data: 0.5rem;
    --font-size-hover: 0.4375rem;
    --totalContainer-font-size: 0.625rem;
  }

  .mainContainer section h2 {
    font-size: var(--fontSize-header5);
  }
}
