.mainContainer {
  position: relative;
  min-height: 70vh;
  max-width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  justify-items: center;
  gap: 5rem;
  padding-block: 1rem 2.5rem;
}

.mainContainer > div {
  position: absolute;
  top: calc(50% - 10rem);
  z-index: 1;
}

.mainContainer section > div {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainContainer section > h2 {
  margin-block-end: 1rem;
}

.weekContainer > p,
.monthContainer > p,
.yearContainer > p,
.allTimeContainer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 6rem;
  height: 6rem;
  padding: 0.25rem;
  background-color: oklch(
    from var(--color-brand-teal) calc(l - var(--distance) + 0.6) c h
  );
}

.weekContainer > p[data-color="true"],
.monthContainer > p[data-color="true"],
.yearContainer > p[data-color="true"],
.allTimeContainer > p[data-color="true"] {
  color: var(--color-white);
}

.weekContainer > p > span,
.monthContainer > p > span,
.yearContainer > p > span,
.allTimeContainer > p > span {
  position: absolute;
  top: 0;
  left: 0;
  padding-inline: 0.1rem;
  color: currentcolor;
  font-family: var(--font-header);
}

.weekContainer > p[data-today="true"] > span,
.monthContainer > p[data-today="true"] > span,
.yearContainer > p[data-thismonth="true"] > span,
.allTimeContainer > p[data-thisyear="true"] > span {
  background-color: var(--color-brand-yellow-saturated);
}

.weekContainer > p[data-color="true"][data-today="true"] span,
.monthContainer > p[data-color="true"][data-today="true"] span,
.yearContainer > p[data-color="true"][data-thismonth="true"] span,
.allTimeContainer > p[data-color="true"][data-thisyear="true"] span {
  color: var(--color-black);
}

.yearContainer > p,
.allTimeContainer > p {
  width: 7rem;
  height: 7rem;
}

.allTimeContainer > p:hover::before,
.weekContainer > p:not([data-empty="true"]):hover::before,
.monthContainer > p:not([data-blank="true"], [data-empty="true"]):hover::before,
.yearContainer > p:not([data-empty="true"]):hover::before {
  content: attr(data-content);
  position: absolute;
  top: 7rem;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.25rem;
  white-space: pre-line;
  font-size: 0.875rem;
}

.weekContainer > p:not([data-blank="true"]):hover::before,
.monthContainer > p:not([data-blank="true"]):hover::before {
  top: 6rem;
}

.weekContainer > p[data-empty="true"],
.monthContainer > p[data-empty="true"],
.yearContainer > p[data-empty="true"] {
  background-color: var(--color-brand-grey);
}

.weekContainer > p[data-empty="false"],
.monthContainer > p[data-empty="false"],
.yearContainer > p[data-empty="false"] {
  cursor: help;
}

.monthContainer > p[data-blank="true"] {
  background-color: transparent;
}

.mainContainer[data-theme="dark"] .weekContainer > p > span,
.mainContainer[data-theme="dark"] .monthContainer > p > span,
.mainContainer[data-theme="dark"] .yearContainer > p > span,
.mainContainer[data-theme="dark"] .allTimeContainer > p > span {
  color: var(--color-black);
}

.totalContainer {
  display: inline-block;
  padding: 0.25rem;
}

.weekContainer {
  display: inline-flex;
  gap: 0.0875rem;
}

.daysContainer,
.monthContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.0875rem;
}

.daysContainer > p {
  font-family: var(--font-header);
}

.yearContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.0875rem;
}

.allTimeContainer {
  display: flex;
  gap: 0.0875rem;
}

.mainContainer[data-theme="dark"] h2,
.mainContainer[data-theme="dark"] p {
  color: var(--color-white);
}

.loading::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 98.5%;
  background: var(--color-white40);
  backdrop-filter: blur(0.125rem);
}

.loading > * {
  pointer-events: none;
  opacity: 0.5;
}
