.dropdownMenu > button {
  color: var(--color-dark);
}

.dropdownMenu > button > span {
  font-size: var(--fontSize-header4);
  font-family: var(--font-header);
}

.dropdownMenu > button > svg {
  font-size: var(--fontSize-header1);
}

.darkMenuComponent ul,
.innerMenuComponent ul {
  padding: 0rem;
}

.darkMenuComponent li:not(:last-child),
.innerMenuComponent li:not(:last-child) {
  border-bottom: 1px solid var(--color-brand-grey85);
}

.innerMenuComponent li > a,
.darkMenuComponent li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.innerMenuComponent li > a {
  color: var(--color-brand-dark);
}

.darkMenuComponent li > a {
  color: var(--color-white);
}

@media screen and (max-width: 1000px) {
  .dropdownButton span {
    display: none;
  }
}
