.lightMenu {
  background-color: var(--color-brand-grey95);
}

.darkMenu {
  background-color: var(--color-brand-teal);
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: var(--color-brand-dark);
}

.dropdownButton[data-theme="dark"] {
  color: var(--color-white);
}

.dropdownButton:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.5rem;
}

.dropdownButton[data-theme="dark"]:focus-visible {
  outline-color: var(--color-white);
}

.darkMenu,
.lightMenu {
  display: none;
  position: absolute;
  z-index: 2;
  list-style: none;
  padding: 0;
  width: 10rem;
  transform: translateX(-5rem);
  border-radius: 0.25rem;
  box-shadow: var(--color-black-20) 0 5px 5px -3px,
    var(--color-black-14) 0 8px 10px 1px, var(--color-black-12) 0 3px 14px 2px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.darkMenu img[data-name="about"] {
  filter: invert(1);
}

/* Display the dropdown menu on hover or focus */
.darkMenu[data-open="true"],
.lightMenu[data-open="true"] {
  display: block;
}

.darkMenu > li,
.lightMenu > li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.lightMenu > li:hover {
  background-color: var(--color-brand-grey85);
}

.darkMenu > li:hover {
  background-color: var(--color-brand-green50);
}

.lightMenu li:not(:last-child) {
  border-bottom: 1px solid var(--color-brand-grey85);
}

.darkMenu li:not(:last-child) {
  border-bottom: 1px solid var(--color-brand-grey);
}

.lightMenu > li:first-child:hover,
.darkMenu > li:first-child:hover {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.lightMenu > li:last-child:hover,
.darkMenu > li:last-child:hover {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.darkMenu > li > a,
.lightMenu > li > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.lightMenu li > a {
  color: var(--color-brand-dark);
}

.darkMenu li > a {
  color: var(--color-white);
}

.dropdown > button > span {
  font-size: var(--fontSize-header4);
  font-family: var(--font-header);
}

.dropdown > button::after {
  background-image: url("/emojis/down.svg");
}

.dropdown > button::after,
.dropdown > button:hover::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
}

.dropdown > button[data-open="true"]::after {
  background-image: url("/emojis/up.svg");
}

.dropdown > button[data-theme="dark"]::after {
  filter: invert(1);
}

@media (width <= 1000px) {
  .dropdownButton span {
    display: none;
  }

  .dropdown > button::after,
  .dropdown > button:hover::after {
    background-image: url("/emojis/menu.svg");
    width: 2.5rem;
    height: 2.5rem;
  }

  .dropdown > button[data-open="true"]::after {
    background-image: url("/emojis/close.svg");
  }
}

@media (width <= 650px) {
  .darkMenu,
  .lightMenu {
    margin-left: -1rem;
  }
}

@media (width <= 500px) {
  .darkMenu,
  .lightMenu {
    margin-left: -2rem;
  }
}
