.dropdownMenu {
  position: absolute;
  justify-self: end;
  margin-right: 3rem;
}

.dropdownMenu > button {
  color: white;
}

.innerMenuComponent li > a {
  color: black;
  text-decoration: none;
}
