.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-brand-green);
  z-index: 1;
}

.footer[data-theme="dark"] {
  background-color: var(--color-brand-dark);
}

.footer > div:nth-of-type(even) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > div:nth-of-type(odd) > div {
  width: 0.6rem;
  height: 5rem;
  transform: skew(-20deg);
  transition: all 0.5s var(--easing-normal);
  background-color: var(--color-brand-dark);
}

.footer > div:nth-of-type(odd) > div[data-theme="dark"] {
  background-color: var(--color-white);
}

.footer > div:nth-of-type(odd) > div:hover {
  transform: skew(20deg);
  transition: all 0.5s var(--easing-normal);
  cursor: cell;
}

.footer > div:nth-of-type(even) > a {
  transition: all 0.5s var(--easing-normal);
}

.footer > div:nth-of-type(even) > a:hover {
  transform: scale(1.1);
  transition: all 0.5s var(--easing-normal);
}

.footer > div > a > img {
  height: auto;
}

.footer > div > a > img[data-theme="true"] {
  filter: invert(1);
}

@media (width >= 1200px) {
  .footer > div:nth-of-type(even) {
    gap: 3rem;
  }
}

@media (width >= 1800px) {
  .footer > div:nth-of-type(even) {
    gap: 5rem;
  }
}

@media (width <= 1200px) {
  .footer > div > a > img {
    width: 3rem;
  }

  .footer > div:nth-of-type(odd) > div {
    height: 4rem;
  }
}

@media (width <= 900px) {
  .footer > div:nth-of-type(odd) > div {
    height: 3rem;
  }
}

@media (width <= 750px) {
  .footer > div > a > img {
    width: 2rem;
  }
}

@media (width <= 500px) {
  .footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
  }

  .footer > div > a > img {
    width: 1.5rem;
  }

  .footer > div:nth-of-type(odd) > div {
    height: 2rem;
    width: 0.3rem;
  }

  .footer[data-hide="true"] {
    display: none;
  }
}

@media (height <= 350px) {
  .footer {
    height: 30vh;
  }
}
