.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer > div:nth-of-type(odd) > div {
  width: 0.6rem;
  height: 5rem;
  transform: skew(-20deg);
  transition: all 0.5s var(--easing-normal);
}

.footer > div:nth-of-type(odd) > div:hover {
  transform: skew(20deg);
  transition: all 0.5s var(--easing-normal);
  cursor: cell;
}

.footer > div:nth-of-type(even) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > div:nth-of-type(even) > a {
  transition: all 0.5s var(--easing-normal);
}

.footer > div:nth-of-type(even) > a:hover {
  transform: scale(1.1);
  transition: all 0.5s var(--easing-normal);
}

.footer > div > a > img {
  height: auto;
}

@media screen and (min-width: 1200px) {
  .footer > div:nth-of-type(even) {
    gap: 3rem;
  }
}

@media screen and (min-width: 1800px) {
  .footer > div:nth-of-type(even) {
    gap: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .footer > div > a > img {
    width: 3rem;
  }

  .footer > div:nth-of-type(odd) > div {
    height: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .footer > div:nth-of-type(odd) > div {
    height: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .footer > div > a > img {
    width: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
  }

  .footer > div > a > img {
    width: 1.5rem;
  }

  .footer > div:nth-of-type(odd) > div {
    height: 2rem;
    width: 0.3rem;
  }
}

@media screen and (max-height: 350px) {
  .footer {
    height: 30vh;
  }
}
