@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Amiko&family=Crete+Round&family=Istok+Web&display=swap");

:root {
  /* Colors */
  --color-brand-yellow: hsl(51deg 74% 60%);
  --color-brand-yellow-saturated: hsl(55deg 100% 60%);
  --color-brand-green: hsl(141deg 40% 65%);
  --color-brand-green50: hsla(141deg 40% 65% / 50%);
  --color-brand-teal: hsl(187deg 52% 22%);
  --color-brand-teal30: hsla(187deg 52% 22% 30%);
  --color-brand-red: hsl(10deg 94% 60%);
  --color-brand-red30: hsla(10deg 94% 60% 30%);
  --color-brand-violet30: hsla(258deg 100% 60% 30%);
  --color-brand-grey: hsl(258deg 10% 80%);
  --color-brand-grey85: hsl(258deg 10% 85%);
  --color-brand-grey95: hsl(258deg 10% 95%);
  --color-brand-dark: hsl(236deg 21% 14%);
  --color-brand-dark80: hsl(236deg 21% 26%);
  --color-white: hsl(0deg 0% 100%);
  --color-skin: hsl(24deg 71.4% 76.7%);

  /* Shades of black */
  --color-black: hsl(0deg 0% 0%);
  --color-black-38: hsla(0deg 0% 0% / 38%);
  --color-black-20: hsla(0deg 0% 0% / 20%);
  --color-black-14: hsla(0deg 0% 0% / 14%);
  --color-black-12: hsla(0deg 0% 0% / 12%);
  --color-black-10: hsla(0deg 0% 0% / 10%);
  --color-black-8: hsla(0deg 0% 0% / 8%);
  --color-black-4: hsla(0deg 0% 0% / 4%);

  /* Fonts */
  --font-brand: "Nabla", serif;
  --font-header: "Crete Round", serif;
  --font-subheader: "Amiko", sans-serif;
  --font-body: "Istok Web", sans-serif;

  /* Typescale */
  --fontSize-header1: 1.8rem;
  --fontSize-header2: 1.6rem;
  --fontSize-header3: 1.4rem;
  --fontSize-header4: 1.2rem;
  --fontSize-header5: 1.1em;
  --fontSize-paragraph: 1rem;
  --fontSize-helperText: 0.8rem;
  --fontSize-copyrightText: 0.7rem;

  /* Animation */
  --easing-normal: cubic-bezier(0.5, 0.1, 0.5, 1);

  /* Shadows */
  --shadow-1: 0 0 10px var(--color-black-10);
  --font-shadow: 4px 4px 1px var(--color-black), -1px 1px 0 var(--color-black),
    1px -1px 0 var(--color-black), -1px -1px 0 var(--color-black),
    0px 1px 0 var(--color-black), 0px -1px 0 var(--color-black),
    -1px 0px 0 var(--color-black), 1px 0px 0 var(--color-black),
    2px 2px 0 var(--color-black), -2px 2px 0 var(--color-black),
    2px -2px 0 var(--color-black), -2px -2px 0 var(--color-black),
    0px 2px 0 var(--color-black), 0px -2px 0 var(--color-black),
    -2px 0px 0 var(--color-black), 2px 0px 0 var(--color-black),
    1px 2px 0 var(--color-black), -1px 2px 0 var(--color-black),
    1px -2px 0 var(--color-black), -1px -2px 0 var(--color-black),
    2px 1px 0 var(--color-black), -2px 1px 0 var(--color-black),
    2px -1px 0 var(--color-black), -2px -1px 0 var(--color-black);

  /* Gradients */
  --gradient-light: radial-gradient(
      at 40% 20%,
      hsl(28deg 44% 83%) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsl(189deg 44% 83%) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsl(340deg 44% 83%) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsl(22deg 44% 83%) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsl(242deg 44% 83%) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsl(343deg 44% 83%) 0px, transparent 50%);

  /* Breakpoints */
  --breakpoint-max: 112.5rem; /* 1800px */
  --breakpoint-xxl: 75rem; /* 1200px */
  --breakpoint-xl: 62.5rem; /* 1000px */
  --breakpoint-l: 53.125rem; /* 850px */
  --breakpoint-m: 46.875rem; /* 750px */
  --breakpoint-s: 37.5rem; /* 600px */
  --breakpoint-xs: 31.25rem; /* 500px */
  --breakpoint-min: 25rem; /* 400px */
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-brand-green);
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

p,
li,
a {
  font-family: var(--font-body);
  font-size: var(--fontSize-paragraph);
  color: var(--color-brand-dark);
}

h1 {
  font-family: var(--font-header);
  font-size: var(--fontSize-header1);
  color: var(--color-brand-dark);
}

h2 {
  font-family: var(--font-header);
  font-size: var(--fontSize-header2);
  color: var(--color-brand-dark);
}

h3 {
  font-family: var(--font-subheader);
  font-size: var(--fontSize-header3);
  color: var(--color-brand-dark);
}

h4 {
  font-family: var(--font-subheader);
  font-size: var(--fontSize-header4);
  color: var(--color-brand-dark);
}

h5 {
  font-family: var(--font-subheader);
  font-size: var(--fontSize-header5);
  color: var(--color-brand-dark);
}

@media (max-width: 900px) {
  :root {
    --font-brand: var(--font-header);
  }
}
