.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  height: 120vh;
}

.main > a {
  background-color: #b0b0b0;
  width: clamp(100px, 30vw, 400px);
  aspect-ratio: 1/1;
}
