.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 1rem;
  grid-row-gap: 3rem;
  min-height: 70vh;
  padding: 2rem 0;
  container: inline-size;
}

.main > a {
  width: 17.5cqw;
  aspect-ratio: 1/1;
  text-decoration: none;
}

.main > a:has(div > img) {
  background-color: var(--color-brand-red);
  background-image: radial-gradient(
      at 40% 20%,
      hsl(28deg 100% 74%) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsl(189deg 100% 56%) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsl(355deg 100% 93%) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsl(340deg 100% 76%) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsl(22deg 100% 77%) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsl(242deg 100% 70%) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsl(343deg 100% 76%) 0, transparent 50%);
}

.main > a:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.5rem;
}

.main[data-theme="dark"] > a:focus-visible {
  outline-color: var(--color-white);
}

@media (width <= 1400px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }

  .main > a {
    width: 29cqw;
  }

  .main > a:last-of-type {
    display: none;
  }
}

@media (width <= 900px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .main > a {
    width: 44cqw;
  }

  .main > a:last-of-type {
    display: initial;
  }
}
