.header {
  display: grid;
  place-items: center;
  width: 100%;
  height: 15vh;
}

.header > a {
  text-decoration: none;
}

.header > a:focus-visible {
  outline: 2px solid var(--color-white);
}

.title {
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-family: var(--font-brand);
  transition: all 0.3s ease-in-out;
}

.title:hover {
  text-shadow: 0 0 0.5rem var(--color-white);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 500px) {
  .header {
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 999;
  }
}
