.header {
  display: grid;
  place-items: center;
  background-color: #5b5b5b;
  width: 100%;
  height: 15vh;
}

.header > a {
  text-decoration: none;
}

.header > a:focus-visible {
  outline: 2px solid #fff;
}

.title {
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-family: "Nabla", cursive;
}

@media screen and (max-width: 500px) {
  .header {
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 999;
  }
}
