.header {
  display: grid;
  place-items: center;
  height: 15vh;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  background-color: var(--color-brand-green);
}

.header[data-theme="dark"] {
  background-color: var(--color-brand-dark);
}

.header > a {
  text-decoration: none;
}

.header > a:focus-visible {
  outline: 2px solid var(--color-white);
}

.title {
  font-size: clamp(2rem, 5.5vw, 4rem);
  font-family: var(--font-brand);
  transition: all 0.3s ease-in-out;
}

.title:hover {
  text-shadow: 0 0 0.5rem var(--color-white);
  transition: all 0.3s ease-in-out;
}

@media (width <= 900px) {
  .title {
    font-family: var(--font-header);
    color: var(--color-brand-yellow-saturated);
    text-shadow: var(--font-shadow);
  }

  .title:hover {
    text-shadow: 0 -1.25rem 0 var(--color-brand-teal),
      0 1.25rem 0 var(--color-brand-red);
  }
}

@media (width <= 700px) {
  .title:hover {
    text-shadow: 0 -1rem 0 var(--color-brand-teal),
      0 1rem 0 var(--color-brand-red);
  }
}

@media (width <= 500px) {
  .header {
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 2;
  }
}

@media (height <= 450px) {
  .header {
    height: 25vh;
  }
}

@media (height <= 300px) {
  .header {
    height: 30vh;
  }
}
