.progressContainer > progress,
.progressContainer > progress::-webkit-progress-bar,
.progressContainer > progress::-webkit-progress-value {
  border-radius: 0.25rem;
}

.progressContainer > progress {
  width: 26rem;
  height: 0.8rem;
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.2);
}

.progressContainer > progress::-webkit-progress-bar {
  background-color: var(--color-brand-grey);
}

.progressContainer > progress::-webkit-progress-value {
  background-color: var(--color-brand-green);
}

@media (max-width: 1000px) {
  .progressContainer > progress {
    width: 22rem;
    height: 0.6rem;
  }
}

@media (max-width: 600px) {
  .progressContainer > progress {
    width: 18rem;
    height: 0.4rem;
  }
}
