.mainContainer {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  padding-bottom: 1rem;
}

.cardWrapper {
  min-height: 55vh;
  min-width: 90%;
  background-color: var(--color-white);
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.card {
  height: 80%;
  width: 30%;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card > div {
  border: 1px solid var(--color-brand-green);
  border-radius: 1rem;
}

.card > div > p:first-child {
  padding: 1rem 0;
  text-align: center;
}

.card > div > p:last-child {
  background-color: bisque;
  padding: 1rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
}

@media (max-width: 1100px) {
  .cardWrapper {
    flex-direction: column;
    min-width: 60%;
    margin: 1rem 0;
  }

  .card {
    width: 60%;
    margin: 1rem 0;
  }
}

@media (max-width: 900px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .cardWrapper {
    min-width: 80%;
  }
}

@media (max-width: 525px) {
  .cardWrapper {
    min-width: 90%;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
    padding-bottom: 4rem;
  }
}
