.mainContainer {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  padding-bottom: 1rem;
}

.cardWrapper {
  min-height: 55vh;
  min-width: 95%;
  background-color: var(--color-white);
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 var(--color-black-20);
}

.card {
  height: 30rem;
  width: 28rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem 0 var(--color-black-20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card > div {
  width: 100%;
  border: 1px solid var(--color-brand-green);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem var(--color-brand-green);
}

.card > div > p:first-child {
  background-color: var(--color-brand-yellow);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-family: var(--font-header);
}

.card > div > img {
  width: 100%;
}

.card > div > p:last-child {
  background-color: var(--color-brand-yellow);
  padding: 1rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card > div > p:last-child > span {
  padding: 0 0.25rem;
  font-family: var(--font-subheader);
}

.card > div > p:last-child > span:first-child {
  background-color: var(--color-brand-green50);
}

.card > div > p:last-child > span:nth-child(2) {
  background-color: var(--color-brand-violet30);
}

.card > div > p:last-child > span:nth-child(3) {
  background-color: var(--color-brand-teal30);
}

.card > div > p:last-child > span:nth-child(4) {
  background-color: var(--color-brand-red30);
}

@media (min-width: 1800px) {
  .card {
    width: 34rem;
  }
}

@media (max-width: 1500px) {
  .card {
    width: 25rem;
  }

  .card > div {
    width: 95%;
  }
}

@media (max-width: 1350px) {
  .cardWrapper {
    flex-direction: column;
    min-width: 60%;
    margin: 1rem 0;
  }

  .card {
    width: 80%;
    margin: 1rem 0;
  }
}

@media (max-width: 800px) {
  .cardWrapper {
    min-width: 80%;
  }
}

@media (max-width: 700px) {
  .cardWrapper {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 525px) {
  .cardWrapper {
    min-width: 90%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 92%;
  }

  .cardWrapper {
    margin-bottom: 6rem;
  }

  .mainContainer {
    min-height: 80vh;
    padding-bottom: 4rem;
  }
}
