.mainContainer {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 3fr;
  place-items: center;
}

.mainContainer > div:nth-child(1) {
  background-color: var(--color-white);
  width: 50rem;
  height: 11rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  grid-area: 1 / 1 / 2 / 3;
  container-type: inline-size;
}

.mainContainer > div:nth-child(1)[data-theme="dark"] {
  background-color: var(--color-brand-dark);
}

.mainContainer > div > p {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  padding-bottom: 0.5rem;
}

.mainContainer > div > p > a {
  font-size: var(--fontSize-header3);
}

.mainContainer > div[data-theme="dark"] > p > a {
  color: var(--color-white);
}

.mainContainer > div[data-theme="dark"] > p > img {
  filter: invert(1);
}

.mainContainer > div:nth-child(2),
.mainContainer > div:nth-child(3) {
  background-color: var(--color-black);
  width: 200px;
  height: 100px;
  clip-path: polygon(
    33% 25%,
    33% 44%,
    100% 40%,
    100% 60%,
    33% 56%,
    33% 75%,
    8% 50%
  );
}

.mainContainer > div:nth-child(2)[data-theme="dark"],
.mainContainer > div:nth-child(3)[data-theme="dark"] {
  background-color: var(--color-brand-grey95);
}

.mainContainer > div:nth-child(2) {
  transform: rotate(-40deg);
  grid-area: 2 / 1 / 3 / 2;
}

.mainContainer > div:nth-child(3) {
  transform: scale(-1, 1) rotate(-40deg);
  grid-area: 2 / 2 / 3 / 3;
}

.mainContainer > div:nth-child(4) {
  width: 100%;
  height: 100%;
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.mainContainer > div:nth-child(4) > span {
  container-type: inline-size;
}

.mainContainer > div:nth-child(4) span h1 {
  text-align: center;
  padding: 2rem;
}

.mainContainer > div > span > h1[data-theme="dark"],
.mainContainer > div:nth-child(4) span span section > *[data-theme="dark"] {
  color: var(--color-brand-grey95);
}

.mainContainer > div:nth-child(4) p {
  margin-left: 0;
}

.mainContainer > div:nth-child(4) > span > p {
  padding: 2rem;
}

.mainContainer > div:nth-child(4) > span > span > section {
  display: grid;
  gap: 0.25rem;
}

.mainContainer > div:nth-child(4) span span section > p {
  display: grid;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  background-color: var(--color-brand-yellow);
  padding: 0.5rem;
  background-size: cover;
}

.mainContainer > div:nth-child(4) span span section > * {
  display: flex;
  max-width: 9rem;
  text-decoration: none;
  gap: 0.25rem;
}

.mainContainer > div:nth-child(4) span span section > a:hover {
  text-decoration: underline;
}

.mainContainer > div:nth-child(4) span span p[data-image="public"],
.mainContainer > div:nth-child(4) span span p[data-image="admin"] {
  background-image: url("/images/kk.webp");
}

.mainContainer > div:nth-child(4) span span p[data-image="publisher"] {
  background-image: url("/images/thinking.svg");
}

.mainContainer > div:nth-child(4) span span p[data-image="cra"] {
  background-image: url("/images/cra.webp");
}

.mainContainer > div:nth-child(4) span span p[data-image="koripallo"] {
  background-image: url("/images/koripallopaikat.svg");
  background-color: var(--color-brand-green);
}

.mainContainer > div:nth-child(4) span span p[data-image="wishlist"] {
  background-image: url("/images/wishlist.webp");
}

.mainContainer > div:nth-child(4) span span > section:nth-child(1) {
  margin-left: 10%;
}

.mainContainer > div:nth-child(4) span span > section:nth-child(2) {
  margin-left: 40%;
}

.mainContainer > div:nth-child(4) span span > section:nth-child(3) {
  margin-left: 70%;
}

.mainContainer > div:nth-child(4) > span > span {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  padding: 2rem 0;
  height: 100ch;
}

.mainContainer > div:nth-child(4) > span:first-child,
.mainContainer > div:nth-child(4) > span:last-child {
  width: 100%;
  height: 100%;
}

.mainContainer > div:nth-child(4) span:first-child {
  background-color: var(--color-brand-red30);
}

.mainContainer > div:nth-child(4) > span:last-child {
  background-color: var(--color-brand-teal30);
}

@media (width >= 1500px) {
  .mainContainer > div:nth-child(1) {
    width: 60rem;
    height: 14rem;
  }
}

@media (width >= 1800px) {
  .mainContainer > div:nth-child(1) {
    width: 65rem;
    height: 15rem;
  }
}

@media (width >= 2100px) {
  .mainContainer > div:nth-child(1) {
    width: 70rem;
    height: 16rem;
  }
}

@media (width <= 1000px) {
  .mainContainer {
    grid-template-rows: 1fr 2fr;
  }

  .mainContainer > div:nth-child(2),
  .mainContainer > div:nth-child(3) {
    display: none;
  }

  .mainContainer > div:nth-child(4) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .mainContainer > div:nth-child(4) span span section:nth-child(2) {
    margin-left: 35%;
  }

  .mainContainer > div:nth-child(4) span span section:nth-child(3) {
    margin-left: 60%;
  }
}

@media (width <= 850px) {
  .mainContainer > div:nth-child(1) {
    width: 42rem;
  }
}

/* Safari =( */
/* stylelint-disable-next-line */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @media (width <= 700px) {
    .mainContainer > div:nth-child(1) {
      margin: 0 !important;
    }
  }
}

@media (width <= 750px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.25fr;
  }

  .mainContainer > div:nth-child(1) {
    transform: rotate(60deg);
    max-width: 100vw;
  }

  .mainContainer > div:nth-child(4) {
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 600px) {
  .mainContainer {
    grid-template-rows: 1fr 2.5fr;
  }

  .mainContainer > div > img {
    height: 6rem;
  }
}

@media (width <= 500px) {
  .mainContainer {
    grid-template-rows: 1fr 3fr;
  }

  .mainContainer > div:nth-child(1) {
    height: 10rem;
  }

  .mainContainer > div > img {
    height: 5rem;
  }
}

@media (width <= 450px) {
  .mainContainer > div:nth-child(1) {
    height: 9rem;
  }

  .mainContainer > div > img {
    height: 4rem;
  }
}

@container (min-width: 700px) {
  .mainContainer > div > img {
    width: 100%;
    height: 75%;
  }
}
