.mainContainer {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.mainContainer > div:nth-child(1) {
  background-color: var(--color-white);
  width: 58%;
  height: 71%;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  grid-area: 1 / 1 / 2 / 3;
  container-type: inline-size;
}

.mainContainer > div > p {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  padding-bottom: 0.5rem;
}

.mainContainer > div > p > a {
  font-size: var(--fontSize-header3);
}

.mainContainer > div:nth-child(2),
.mainContainer > div:nth-child(3) {
  background-color: var(--color-black);
  width: 200px;
  height: 100px;
  clip-path: polygon(
    33% 25%,
    33% 44%,
    100% 40%,
    100% 60%,
    33% 56%,
    33% 75%,
    8% 50%
  );
}

.mainContainer > div:nth-child(2) {
  transform: rotate(-40deg);
  grid-area: 2 / 1 / 3 / 2;
}

.mainContainer > div:nth-child(3) {
  transform: scale(-1, 1) rotate(-40deg);
  grid-area: 2 / 2 / 3 / 3;
}

.mainContainer > div:nth-child(4) {
  width: 100%;
  height: 100%;
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

@media (min-width: 1400px) {
  .mainContainer > div:nth-child(1) {
    height: 80%;
  }
}

@media (min-width: 1700px) {
  .mainContainer > div:nth-child(1) {
    height: 85%;
  }
}

@media (min-width: 1800px) {
  .mainContainer > div:nth-child(1) {
    height: 87.5%;
  }
}

@media (min-width: 2000px) {
  .mainContainer > div:nth-child(1) {
    height: 90%;
  }
}

@media (min-width: 2200px) {
  .mainContainer > div:nth-child(1) {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .mainContainer > div:nth-child(1) {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .mainContainer > div:nth-child(1) {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .mainContainer > div:nth-child(1) {
    width: 95%;
    height: 65%;
  }

  .mainContainer > div:nth-child(1) > img {
    height: 65%;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
  }
}

@container (min-width: 700px) {
  .mainContainer > div > img {
    width: 100%;
    height: 75%;
  }
}
