.mainContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mainContainer[data-theme="dark"] * {
  color: var(--color-white);
}

.mainContainer[data-theme="dark"] img:is([alt^="Comet"], [alt^="Floppy"]) {
  filter: invert(1);
}

.mainContainer h1 {
  margin-bottom: 1rem;
  text-decoration: underline 8px var(--color-brand-red);
  text-underline-offset: 0.5rem;
}

.mainContainer h2 {
  font-family: var(--font-subheader);
  font-size: var(--fontSize-header3);
}

.mainContainer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 90%;
  box-shadow: 0 0 1rem var(--color-black-20);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 50vh;
}

.toggle > details > div {
  margin-left: 3.6rem;
}

.mainContainer > div > div {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  height: 100%;
}

.mainContainer > div > div > div {
  margin-bottom: 2rem;
}

.mainContainer > div > div:first-of-type {
  justify-self: flex-start;
}

.emojiContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.toggle > details > summary {
  color: var(--color-brand-dark);
  font-family: var(--font-body);
  font-size: var(--fontSize-paragraph);
  cursor: pointer;
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

main .mainContainer summary:focus-visible,
main .mainContainer a:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.0625rem;
}

main[data-theme="dark"] .mainContainer summary:focus-visible,
main[data-theme="dark"] .mainContainer a:focus-visible {
  outline-color: var(--color-white);
}

.toggle > details summary::before {
  transform: rotate(0);
}

.toggle > details > summary::-webkit-details-marker {
  display: none;
}

.toggle > details summary::before,
.toggle > details[open] summary::before {
  content: "";
  background: url("/emojis/arrowCurved.svg");
  transition: 0.25s transform var(--easing-normal);
  width: 1.2rem;
  height: 1.2rem;
}

.toggle > details summary[data-theme="dark"]::before,
.toggle > details[open] summary[data-theme="dark"]::before {
  filter: invert(1);
}

.toggle > details[open] summary::before {
  transform: rotate(90deg);
}

.workContainer {
  grid-template-rows: 0.5fr 2fr 2fr;
}

/* stylelint-disable-next-line no-descending-specificity */
.workContainer > div {
  justify-self: flex-start;
}

.workContainer > .emojiContainer {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  margin-bottom: 2rem;
}

.workContainer > div > .emojiContainer {
  margin-bottom: 0;
}

.workContainer > div:has(.emojiContainer):nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 2;
  display: block;
}

.workContainer > div:has(.emojiContainer):last-of-type {
  grid-area: 3 / 1 / 4 / 2;
  display: block;
}

@media (height <= 1100px) {
  .mainContainer {
    padding: 2rem;
  }
}

@media (width <= 1000px) {
  .mainContainer li,
  .toggle > details > summary {
    font-size: 0.8rem;
  }

  .mainContainer h1 {
    font-size: 1.4rem;
  }
}

@media (width <= 900px) {
  .mainContainer > div {
    grid-template-columns: 1fr;
    place-items: stretch;
  }
}

@media (width <= 600px) {
  .mainContainer li,
  .toggle > details > summary {
    font-size: 0.8rem;
  }

  .mainContainer h1 {
    font-size: 1.2rem;
  }
}

@media (width <= 500px) {
  .mainContainer {
    min-height: 80vh;
  }

  .mainContainer > div {
    width: 100%;
    padding: 1rem;
  }
}
