.mainContainer {
  min-height: 70vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer h1 {
  margin-bottom: 1rem;
  text-decoration: underline 8px var(--color-brand-red);
  text-underline-offset: 0.5rem;
}

.mainContainer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 90%;
  box-shadow: 0 0 1rem var(--color-black-20);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 64vh;
}

.toggle > details > div {
  margin-left: 3.6rem;
}

.mainContainer > div > div {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  height: 100%;
}

.mainContainer > div > div > div {
  margin-bottom: 2rem;
}

.mainContainer > div > div:nth-child(2) {
  align-self: flex-start;
}

.emojiContainerLight,
.emojiContainerDark {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.emojiContainerDark {
  color: var(--color-white);
}

.emojiContainerDark > img[data-theme="dark"] {
  filter: invert(1);
}

.textDark {
  color: var(--color-white);
}

li:has(span.textDark) {
  color: var(--color-white);
}

.toggle > details > summary {
  color: var(--color-brand-dark);
  font-family: var(--font-body);
  font-size: var(--fontSize-paragraph);
  cursor: pointer;
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.toggle > details > summary[data-theme="dark"] {
  color: var(--color-white);
}

.toggle > details > div > p[data-theme="dark"],
.toggle > details > div > a[data-theme="dark"] {
  color: var(--color-white);
}

.toggle > details summary::before {
  transform: rotate(0);
}

.toggle > details > summary::-webkit-details-marker {
  display: none;
}

.toggle > details summary::before,
.toggle > details[open] summary::before {
  content: "";
  background: url("/emojis/arrowCurved.svg");
  transition: 0.25s transform var(--easing-normal);
  width: 1.2rem;
  height: 1.2rem;
}

.toggle > details summary[data-theme="dark"]::before,
.toggle > details[open] summary[data-theme="dark"]::before {
  filter: invert(1);
}

.toggle > details[open] summary::before {
  transform: rotate(90deg);
}

@media (max-height: 800px) {
  .mainContainer {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  .mainContainer li,
  .toggle > details > summary {
    font-size: 0.8rem;
  }

  .mainContainer h3 > div {
    font-size: 1.2rem;
  }

  .mainContainer h1 > div {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    padding-bottom: 2rem;
  }

  .mainContainer > div {
    grid-template-columns: 1fr;
    place-items: stretch;
  }
}

@media (max-width: 600px) {
  .mainContainer li,
  .toggle > details > summary {
    font-size: 0.8rem;
  }

  .mainContainer h3 > div {
    font-size: 1rem;
  }

  .mainContainer h1 > div {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    min-height: 80vh;
    padding-bottom: 6rem;
  }
}
