.languageSwitch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  place-items: center;
  color: var(--color-white);
}

.languageSwitch > span:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.languageSwitch > span:nth-child(3) {
  grid-area: 1 / 2 / 2 / 3;
}

.languageSwitch > span:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}

.mobileLanguageSwitch > button {
  font-family: var(--font-header);
  font-size: var(--fontSize-header4);
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 4.5rem;
  transition: transform 0.5s ease-in-out;
}

.arrowRight {
  transform: translateX(37px) rotate(45deg);
}

.arrowLeft {
  transform: translateX(-37px) rotate(312deg) scaleX(-1);
}

.languageSwitch > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageSwitch > span:first-child > span,
.languageSwitch > span:last-child > span {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  border: 1.1rem solid;
  border-radius: 50%;
  position: absolute;
}

@media screen and (max-width: 75rem) {
  .languageSwitch > span:first-child > span,
  .languageSwitch > span:last-child > span {
    border-width: 1.25rem;
  }

  .arrowRight {
    transform: translateX(37px) rotate(45deg) scale(0.8);
  }

  .arrowLeft {
    transform: translateX(-37px) rotate(312deg) scaleX(-1) scale(0.8);
  }
}

@media screen and (max-width: 68.75rem) {
  .languageSwitch > span:first-child > span,
  .languageSwitch > span:last-child > span {
    border-width: 1.35rem;
  }

  .arrowRight {
    transform: translateX(37px) rotate(45deg) scale(0.7);
  }

  .arrowLeft {
    transform: translateX(-37px) rotate(312deg) scaleX(-1) scale(0.7);
  }
}

@media screen and (max-width: 62.5rem) {
  .languageSwitch {
    display: none;
  }
}

@media screen and (min-width: 62.5rem) {
  .mobileLanguageSwitch {
    display: none;
  }
}
