.languageSwitch {
  position: absolute;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  place-items: center;
  margin-right: 10rem;
  color: var(--color-white);
}

.mobileLanguageSwitch {
  position: absolute;
  justify-self: end;
  display: grid;
  margin-right: 10rem;
}

.mobileLanguageSwitch > button {
  color: var(--color-white);
  font-family: var(--font-header);
  font-size: var(--fontSize-header4);
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 0.8rem;
  transition: transform 0.5s ease-in-out;
}

.arrowRight {
  transform: translateX(37px) rotate(45deg);
}

.arrowLeft {
  transform: translateX(-37px) rotate(312deg) scaleX(-1);
}

.languageSwitch > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-subheader);
  font-size: var(--fontSize-paragraph);
}

.languageSwitch > span:first-child,
.languageSwitch > span:last-child {
  border-radius: 50%;
}

.languageSwitch > span:first-child > span,
.languageSwitch > span:last-child > span {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  border: 1.1rem solid;
  border-radius: 50%;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .languageSwitch {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .mobileLanguageSwitch {
    display: none;
  }
}
