.languageSwitch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  place-items: center;
}

.mobileLanguageSwitch {
  display: flex;
}

.mobileLanguageSwitch > button:hover {
  box-shadow: 3px 3px 1rem 0rem var(--color-white);
  transition: box-shadow 0.5s var(--easing-normal);
}

.mobileLanguageSwitch > button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 4.5rem;
  transition: transform 0.5s ease-in-out;
}

.arrowRight {
  transform: translateX(37px) rotate(45deg);
}

.arrowLeft {
  transform: translateX(-37px) rotate(312deg) scaleX(-1);
}

.languageSwitch > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageSwitch > span:first-child > span,
.languageSwitch > span:last-child > span {
  width: 4rem;
  height: 4rem;
  border: 1.1rem solid;
  border-radius: 50%;
  position: absolute;
}

.switch {
  position: relative;
  cursor: pointer;
  margin-left: -0.5rem;
}

/* Input */
.switch > input {
  appearance: none;
  position: absolute;
}

/* Track */
.switch > span::before {
  content: "";
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 0.5rem;
  width: 2.25rem;
  height: 0.85rem;
  background-color: var(--color-black-38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.switch > span::after,
.switch > input:checked + span::after {
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 1rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/emojis/eng.svg");
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.switch > input:checked + span::before {
  background-color: var(--color-brand-teal);
}

.switch > input:checked + span::after {
  background-image: url("/emojis/fin.svg");
  transform: translateX(1rem);
}

@media screen and (max-width: 75rem) {
  .languageSwitch > span:first-child > span,
  .languageSwitch > span:last-child > span {
    border-width: 1.25rem;
  }

  .arrowRight {
    transform: translateX(37px) rotate(45deg) scale(0.8);
  }

  .arrowLeft {
    transform: translateX(-37px) rotate(312deg) scaleX(-1) scale(0.8);
  }
}

@media screen and (max-width: 68.75rem) {
  .languageSwitch > span:first-child > span,
  .languageSwitch > span:last-child > span {
    border-width: 1.35rem;
  }

  .arrowRight {
    transform: translateX(37px) rotate(45deg) scale(0.7);
  }

  .arrowLeft {
    transform: translateX(-37px) rotate(312deg) scaleX(-1) scale(0.7);
  }
}

@media screen and (max-width: 62.5rem) {
  .languageSwitch {
    display: none;
  }
}

@media screen and (min-width: 62.5rem) {
  .mobileLanguageSwitch {
    display: none;
  }
}

@media screen and (max-height: 1000px) {
  .arrowLeft,
  .arrowRight {
    top: 3.5rem;
  }
}
@media screen and (max-height: 900px) {
  .arrowLeft,
  .arrowRight {
    top: 3rem;
  }
}
@media screen and (max-height: 800px) {
  .arrowLeft,
  .arrowRight {
    top: 2.5rem;
  }
}
@media screen and (max-height: 700px) {
  .arrowLeft,
  .arrowRight {
    top: 2rem;
  }
}
