.languageSwitch {
  position: absolute;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  place-items: center;
  margin-right: 10rem;
  color: white;
}

.mobileLanguageSwitch {
  position: absolute;
  justify-self: end;
  display: grid;
  margin-right: 10rem;
}

.mobileLanguageSwitch > button {
  color: white;
}

.languageSwitch__span {
  text-shadow: none;
  transition: all 0.5s ease-in-out;
}

.languageSwitch__span_checked {
  text-shadow: 0 0 20px white;
  transition: all 0.5s ease-in-out;
}

.arrowRight {
  position: absolute;
  top: 0.8rem;
  transform: translateX(37px) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.arrowLeft {
  position: absolute;
  top: 0.8rem;
  transform: translateX(-37px) rotate(312deg) scaleX(-1);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .languageSwitch {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .mobileLanguageSwitch {
    display: none;
  }
}
