.button {
  width: 3.75rem;
  height: 3.75rem;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button > img {
  filter: invert(0);
}

.button > img[data-theme="dark"] {
  filter: invert(1);
}

.button:hover {
  background-color: var(--color-black-4);
}

.button:active {
  background-color: var(--color-black-8);
}
