.mainContainer {
  min-height: 70vh;
  display: grid;
  place-items: center;
  grid-template-rows: 5fr 1fr 8fr;
}

.mainContainer > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
}

.mainContainer > div > div {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
}

.mainContainer > div > div > ul {
  align-self: flex-start;
}

@media (max-width: 500px) {
  .mainContainer {
    padding-bottom: 3rem;
  }
}
