.mainContainer {
  min-height: 70vh;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr 0.125fr 4.75fr;
}

.mainContainer > figure {
  margin-top: 2rem;
}

.mainContainer > p {
  max-width: 38rem;
}

.mainContainer > p:last-of-type {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-family: var(--font-subheader);
  color: var(--color-brand-dark80);
}

.mainContainer > div > div > ul > li > a {
  text-decoration: none;
}

.mainContainer > p[data-theme="dark"],
.mainContainer > p[data-theme="dark"] a,
.mainContainer > div[data-theme="dark"] h1,
.mainContainer > div[data-theme="dark"] a {
  color: var(--color-white);
}

.mainContainer > p > a:focus-visible,
.mainContainer > div a:focus-visible {
  outline: 0.25rem solid var(--color-brand-dark);
  outline-offset: 0.125rem;
}

.mainContainer > div > div > ul > li > a:hover {
  text-decoration: underline wavy 0.1rem var(--color-brand-red);
  text-underline-offset: 0.5rem;
}

.mainContainer > p[data-theme="dark"] > a:focus-visible,
.mainContainer > div[data-theme="dark"] a:focus-visible {
  outline-color: var(--color-white);
}

.mainContainer > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
}

.mainContainer > div > div {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 9fr;
  gap: 1rem;
}

.mainContainer > div > div > ul {
  display: grid;
  align-self: flex-start;
  row-gap: 0.5rem;
}

.mainContainer > div > div > ul > li:hover::after,
.mainContainer > div > div > ul a:focus-visible::after {
  content: "";
  position: fixed;
  left: var(--mouse-x);
  top: var(--mouse-y);
  width: 200px;
  height: 200px;
  background-image: var(--url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  z-index: 1;
  pointer-events: none;
}

.mainContainer > div > div:first-of-type > ul {
  list-style-type: hardware-emoji;
}

.mainContainer > div > div:nth-of-type(2) > ul {
  list-style-type: software-emoji;
}

.mainContainer > div > div:last-of-type > ul {
  list-style-type: other-emoji;
}

@counter-style hardware-emoji {
  system: cyclic;
  symbols: 💻 🖥️ 📱 🍏 ⌚️ 🎧 💍 ⌨️ 🖱️ 🐭 🐁;
  suffix: " ";
}

@counter-style software-emoji {
  system: cyclic;
  symbols: 💡 👾 ◎ 🧑‍🎨 🗒️ 📝 💎 🧵 ✉️ 📧 💬 🎶 🎸 📻 📚 🏋️‍♀️ ✍️ 🕵️‍♂️ 🗂️;
  suffix: " ";
}

@counter-style other-emoji {
  system: cyclic;
  symbols: 🚴‍♂️ 🤖 ⛑️ 🪑 🎒 💼 🍼 💧 📝 📓 🖋️ ✒️;
  suffix: " ";
}

@media (width <= 1400px) {
  .mainContainer > div > div > ul > li:hover::after {
    width: 150px;
    height: 150px;
    background-size: contain;
  }

  .mainContainer > div > div:last-of-type > ul > li:hover::after {
    margin-inline-start: -5rem;
    margin-block-start: 1.5rem;
  }
}

@media (width <= 1100px) {
  .mainContainer > div > div > ul > li:hover::after {
    width: 125px;
    height: 125px;
  }

  .mainContainer > div > div:last-of-type > ul > li:last-of-type:hover::after {
    margin-inline-start: -8rem;
  }
}

@media (width <= 1100px) {
  .mainContainer > div > div > ul > li:hover::after {
    display: none;
  }
}

@media (width <= 650px) {
  .mainContainer > p {
    padding: 0 2rem;
  }

  .mainContainer > div > div {
    grid-template-rows: 1fr 5fr;
  }
}

@media (width <= 550px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mainContainer > div {
    width: 100vw;
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }

  .mainContainer > div > div > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    justify-content: start;
    width: 90vw;
  }

  .mainContainer > div h1 {
    font-size: 1.5rem;
  }
}

@media (width <= 525px) {
  .mainContainer figure > img {
    width: 87vw;
  }
}

@media (width <= 500px) {
  .mainContainer figure > img {
    height: 27vh;
  }

  .mainContainer > div h1 {
    font-size: 1.25rem;
  }

  .mainContainer > div > div {
    grid-template-rows: 1fr 4fr;
  }
}
